<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Performance matters!</title>
  <link rel="stylesheet" href="/styling/index.css">
</head>

<body>
  <main>
    <aside class="sidebar">
      <div>
        <h4>Posts</h4>
        <ul>
          <li>All</li>
          <li>Hot</li>
          <li>New</li>
          <li>Controversieel</li>
          <li>Rising</li>
          <li>Top</li>
        </ul>
      </div>
      <div>
        <h4>Favorites</h4>
        <ul>
          <li>Fun</li>
          <li>Movies</li>
          <li>Gaming</li>
        </ul>
      </div>
      <div>
        <h4>Subscriptions</h4>
        <ul>
          <li>All</li>
          <li>Hot</li>
          <li>New</li>
          <li>Controversieel</li>
          <li>Rising</li>
          <li>Top</li>
        </ul>
      </div>
    </aside>
    <section class="content">
      {{{body}}}
    </section>
  </main>
</body>

</html>